USE [ETL_Star_GK]
GO
/****** Object:  Table [dbo].[Dim_Item]    Script Date: 3/12/2025 9:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Item](
	[item_id] [int] NOT NULL,
	[item_name] [nvarchar](255) NULL,
	[item_type] [nvarchar](255) NULL,
	[item_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 3/12/2025 9:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[time_id] [int] NOT NULL,
	[date] [nvarchar](255) NULL,
	[time_of_sale] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[time_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Transaction]    Script Date: 3/12/2025 9:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Transaction](
	[transaction_id] [int] NOT NULL,
	[transaction_type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_GK]    Script Date: 3/12/2025 9:15:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_GK](
	[item_id] [int] NULL,
	[time_id] [int] NULL,
	[transaction_id] [int] NULL,
	[quantity] [float] NULL,
	[transaction_amount] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Item] ([item_id], [item_name], [item_type], [item_price]) VALUES (1, N'Panipuri', N'Fastfood', 3000)
INSERT [dbo].[Dim_Item] ([item_id], [item_name], [item_type], [item_price]) VALUES (2, N'Aalopuri', N'Fastfood', 2680)
INSERT [dbo].[Dim_Item] ([item_id], [item_name], [item_type], [item_price]) VALUES (3, N'Sugarcane juice', N'Beverages', 3825)
GO
INSERT [dbo].[Dim_Time] ([time_id], [date], [time_of_sale]) VALUES (1, N'5/2/2023', N'Midnight')
INSERT [dbo].[Dim_Time] ([time_id], [date], [time_of_sale]) VALUES (2, N'6/6/2022', N'Night')
INSERT [dbo].[Dim_Time] ([time_id], [date], [time_of_sale]) VALUES (3, N'6/22/2022', N'Night')
GO
INSERT [dbo].[Dim_Transaction] ([transaction_id], [transaction_type]) VALUES (1, NULL)
INSERT [dbo].[Dim_Transaction] ([transaction_id], [transaction_type]) VALUES (2, N'Cash')
INSERT [dbo].[Dim_Transaction] ([transaction_id], [transaction_type]) VALUES (3, N'Online')
GO
INSERT [dbo].[Fact_GK] ([item_id], [time_id], [transaction_id], [quantity], [transaction_amount]) VALUES (2, 12, 1, 13, 260)
INSERT [dbo].[Fact_GK] ([item_id], [time_id], [transaction_id], [quantity], [transaction_amount]) VALUES (7, 762, 2, 15, 300)
INSERT [dbo].[Fact_GK] ([item_id], [time_id], [transaction_id], [quantity], [transaction_amount]) VALUES (7, 247, 2, 1, 20)
GO
ALTER TABLE [dbo].[Fact_GK]  WITH CHECK ADD  CONSTRAINT [FK_Item] FOREIGN KEY([item_id])
REFERENCES [dbo].[Dim_Item] ([item_id])
GO
ALTER TABLE [dbo].[Fact_GK] CHECK CONSTRAINT [FK_Item]
GO
ALTER TABLE [dbo].[Fact_GK]  WITH CHECK ADD  CONSTRAINT [FK_Time] FOREIGN KEY([time_id])
REFERENCES [dbo].[Dim_Time] ([time_id])
GO
ALTER TABLE [dbo].[Fact_GK] CHECK CONSTRAINT [FK_Time]
GO
ALTER TABLE [dbo].[Fact_GK]  WITH CHECK ADD  CONSTRAINT [FK_Transaction] FOREIGN KEY([transaction_id])
REFERENCES [dbo].[Dim_Transaction] ([transaction_id])
GO
ALTER TABLE [dbo].[Fact_GK] CHECK CONSTRAINT [FK_Transaction]
GO
